version: 0.1
log:
  level: debug
http:
  addr: :5000
storage:
  cache:
    layerinfo: inmemory
  gcs:
    bucket: "{{ provision_gce_registry_gcs_bucket }}"
    rootdirectory: /registry
    keyfile: /etc/registryconfig/gcs-registry.json
auth:
  openshift:
    realm: openshift
middleware:
  repository:
    - name: openshift
